.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;

}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 770px) {
.scroll{
  height: 400px !important;
}

}