.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: #eaf2ff;
}

.modal {
  position: fixed;
  top: 10vh;
  left: 2%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 30;
  
}

h5{

  text-align: center;

  padding: 7px;

}


@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}