.form {
  text-align: left;
  margin-left: 1.5rem;

}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #5aaadf;
  border: 1px solid #5aaadf;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 0.3em;
}

.form button:hover,
.form button:active {
  background-color: #79b7e0;
  border-color: #79b7e0;
}

@media only screen and (max-width: 768px) {
  .form button {
    padding: 0.1rem 0.8rem;
    font-size: 0.8rem;
  }

  .form{
    font-size: 0.8rem;
  }
}


@media only screen and (max-width: 425px) {
  .form button {
    padding: 0.1rem 0.8rem;
    font-size: 0.5rem;
  }

  .form{
    font-size: 0.5rem;
  }
}