.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

h3 {
  margin-left: -36rem;
  font-size: 1.3rem;
  color: rgb(19, 176, 248);
  margin-top: 3rem;
}

.description {
  font-size: 0.8rem;
  margin-left: 1rem;
  color: gray;
  text-align: justify;
  max-width: 95%;
  
  
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #53b9d8;
  font-size: 1.25rem;
  margin-left: 0.3rem;
}

.box {
  width: 90%;
  height: 70%;
  display: inline-block;
} 

img{
  margin-top: 0.5rem;
}


@media only screen and (max-width: 1024px) {
  .description {
    font-size: 0.7rem;
    margin-left: 0.8rem;
    width: 64%;
  }

  h3 {
    margin-left: -38rem;
  }

  img{
    width: 70px;
    height: 70px;
    margin-right: 16rem;
  }

  .price {
    font-size: 0.7rem;
    margin-right: 16rem;
  }
}

@media only screen and (max-width: 770px) {
  .description {
    font-size: 0.6rem;
    margin-left: 1rem;
    width: 55%;
  }

  h3 {
    margin-left: -40rem;
    font-size: 1rem;
   }

  img{
    width: 50px;
    height: 50px;
    margin-right: 20rem;
  }

  .price {

    font-size: 0.7rem;
    margin-right: 20rem;
  }

  .box{
    width: 90%;
    height: 40%;
    
  } 
  
}

@media only screen and (max-width: 430px) {
  .description {
    font-size: 0.5rem;
    width: 52%;
  }

  img{
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
    margin-right: 20rem;
  
  }

  .price {

    font-size: 0.5rem;
    margin-right: 20rem;
  }
}


@media only screen and (max-width: 376px) {
  .description {
    font-size: 0.4rem;
    width: 52%;
  }
  img{
    width: 30px;
    height: 30px;
    margin-right: 20rem;
    margin-top: 0.5rem;
  
  }
  .price {
    font-size: 0.4rem;
    margin-right: 20rem;
  }
  h3 {
    font-size: 0.7rem;
    margin-left: -42rem;
  }
}

@media only screen and (max-width: 325px) {
  .description {
    font-size: 0.4rem;
    width: 50%;
  }

  img{
    width: 30px;
    height: 30px;
    margin-right: 20rem;
  
  }

  h3 {
    margin-left: -42rem;
    font-size: 0.6rem;
   }

  .price {
    font-size: 0.4rem;
    margin-right: 20rem;
  }
}
