.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}


.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #61a2d6;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #61a2d6;
  border-color: #61a2d6;
  color: white;
}

.actions .button--alt {
  background-color: #3b8fd3;
  color:white;
}

.actions .button {
  background-color: #61a2d6;
  color: white;
}

/* @media screen and (max-width:  1024px) {

.Cart{
  width: 10rem;

  height: 10rem;
}

}

@media screen and (max-width:  430px) {

  .Cart{
    width: 5rem;
    
    height: 5rem;
  }
  
  } */