.form {
    margin: 4rem 0;
    height: 30rem;
    overflow: auto;
}

.control {
    margin-bottom: 1.5rem;
}
  
.control input {
    font: inherit;
    font-size: 1rem;
    background-color: rgb(207, 217, 236);
    border: 1.5px solid rgb(173, 182, 199);
    border-radius: 4px;
    width: 20rem;
    margin-left: -25rem;
    max-width: 100%;
  }
  
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 36rem;
}
  
.actions button {
    font: inherit;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.3rem 1rem; 
}
  
.actions button:hover,
.actions button:active {
    background-color: blue;
}
  
.actions .submit {
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
    color: white;
}
  
.actions .submit:hover,
.actions .submit:active {
    background-color: #7a2706;
}
  
.invalid label {
    color: #ca3e51;
    margin-left: 1rem;
}
  
.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
}

.paymentGateway{
    margin-bottom: 10rem;
}