.heading {
  color: rgb(29, 25, 25);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2vh;
  margin-left: -54vw;
}

.form-group {
  margin-bottom: -0.5rem;
  margin-top: -0.3rem;
}

.form-group2 input {
  font-size: 12px;
  background-color: #E3E9EF;
  border-radius: 7px;
  border: 1.5px solid #D8E1E9;
  width: 250px;
  max-height: 40px;
  margin-left: -0.4rem;
  text-align: left;
  padding: 0.25rem;
  margin-top: -0.1rem;
  margin-bottom: 15px;
}

.buttons{
  margin-left: -345px;
}

.input-feedback{
  margin-right: 370px;
  font-size: 0.7rem;
}

.addbtn {
  border-radius: 8px;
  font-size: 12px;
  color: white;
  width: 75px;
  height: 28px;
  background-color: #508ff4;
  border: 1px solid #508ff4;
  margin-left: -38.8rem;
}

.resetbtn {
  border-radius: 8px;
  font-size: 12px;
  color: white;
  width: 75px;
  height: 28px;
  background-color: #B3B8BD;
  border: 1px solid #B3B8BD;
}

h4 {
  font-size: 50px;
}

@media screen and (max-width: 1025px) {

.form-group2 input {

  width: 230px;
  height: 30px;
  margin-left: -0.5rem;
  font-size: 0.6rem;
  border-radius: 5px;
  }

  .heading {
   font-size: 1rem;
   margin-left: -28rem;
  }

  .addbtn {
  font-size: 0.6rem;
  width: 4rem;
  height: 25px;
  border-radius: 6px;
  margin-left: -25.5rem;
  }
.resetbtn {
  border-radius: 6px;
  font-size: 0.6rem;
  width: 5.5vw;
  height: 25px;
}
}

@media screen and (max-width: 996px) {

.form-group2 input {
  width: 220px;
  margin-left: -0.5rem;
  font-size: 0.5rem;
  border-radius: 5px;
}

  .heading {
    font-size: 1rem;  
    margin-left: -28rem;
  }

  .addbtn {
    font-size: 0.5rem;  
    width: 3rem;  
    height: 25px;  
    border-radius: 6px;  
    margin-left: -26.7rem;
  }

  .resetbtn {
    border-radius: 6px;  
    font-size: 0.5rem;  
    width: 5.5vw;  
    height: 25px;
  }

}

@media only screen and (max-width: 770px) {

  .form-group2 input {
    width: 200px;
    margin-left: -0.5rem;
    font-size: 0.6rem;
    margin-top: 5px;
    margin-bottom: 11px;
    border-radius: 6px;
  }

  .heading {
    font-size: 0.8rem;
    margin-top: 1.3vh;
    margin-right: -3.8rem;
  }

  .addbtn {
  font-size: 0.6rem;
  width: 8vw;
  height: 22px;
  border-radius: 6px;
  margin-left: -21.8rem;
}

  .resetbtn {
  border-radius: 6px;
  font-size: 0.6rem;
  width: 6vw;
  height: 22px;
}

}

@media screen and (max-width: 616px) {

  .form-group2 input {
    width: 230px;
    height: 30px;
    margin-left: -0.3rem;
    font-size: 0.5rem;
    border-radius: 5px;
    }
  
    .heading {
     font-size: 0.8rem;
     margin-left: -28rem;
    }
  
    .addbtn {
    font-size: 0.5rem;
    width: 4rem;
    height: 25px;
    border-radius: 6px;
    margin-left: -21.6rem;
  
    }
  
   .resetbtn {
      border-radius: 6px;  
      font-size: 0.5rem;  
      width: 6vw;  
      height: 25px;

  }
}

@media only screen and (max-width: 430px) {

  .form-group2 input {
    width: 180px;
    height: 25px;
    margin-left: -0.4rem;
    font-size: 0.9rem;
    border-radius: 7px;

  }

  .heading {
    font-size: 0.8rem;
    margin-top: 1.5vh;
    margin-right: -4rem;
  }

  .addbtn {
    font-size: 0.6rem;
    width: 16vw;
    height: 1.5rem;
    margin-left: -20rem;
    margin-top: -10px;
    
  }

  .resetbtn {
    border-radius: 8px;  
    font-size:0.6rem;  
    width: 15vw;  
    height: 1.5rem;

  }
}

  @media only screen and (max-width: 380px) {

    .form-group2 input {
      width: 55%;
      height: 35px;
      margin-left: -0.5rem;
      font-size: 0.8rem;
      margin-top: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
    }
  
    .heading {
      font-size: 0.9rem;
      margin-top: 1.5vh;
      margin-right: -4rem;
    }

    .addbtn {
      font-size: 0.9rem;
      width: 20vw;
      height: 1.9rem;
      border-radius: 6px;
      margin-left: -19rem;
    }
  
    .resetbtn {
      border-radius: 6px;    
      font-size: 0.9rem;    
      width: 19vw;    
      height: 1.9rem;
    }
  }
  

  @media only screen and (max-width: 325px) {

    .form-group2 input {
      width: 45%;
      height: 30px;
      margin-left: -1rem;
      font-size: 0.9rem;
      margin-top: 18px;
      margin-bottom: 18px;
      border-radius: 9px;
    }
  
  
  
    .heading {
  
      font-size: 1.4rem;
      margin-top: 1.5vh;
      margin-right: -8rem;
  
    }
  
  
  
    .addbtn {
  
      font-size: 0.8rem;
      width: 23vw;
      height: 1.9rem;
      border-radius: 8px;
      margin-left: -20rem;
  
    }
  
  
  
    .resetbtn {
  
      border-radius: 8px;
  
      font-size: 0.8rem;
  
      width: 19vw;
  
      height: 1.9rem;
  
    }
  
  }


