.carddiv{
    background-color: white;
    height: 32.5rem;
    max-width: 51.3rem;
    margin-left: 19rem;
    box-shadow: 3px 3px 3px 3px #d4dbe9;
    margin-top: 12.5vh; 
    border-radius: 20px;
    position: fixed;
}


@media only screen and (max-width: 1050px) {

  .carddiv{
    height: 32.5rem;
    width: 43rem;
    margin-top: 13.5vh;
    margin-left: 40vh;
    position: fixed;
}


}
@media only screen and (max-width: 1025px) {

  .carddiv{
      height: 31.25rem;
      width: 35.62rem;
      margin-top: 13vh;
      margin-left: 40vh;
      position: fixed;
  }
} 

@media only screen and (max-width: 940px) {

  .carddiv{
      height: 31.25rem;
      width: 35.62rem;
      margin-top: 11.5vh;
      margin-left: 30vh;
  }
} 


@media only screen and (max-width: 810px) {
  .carddiv{
    height: 25rem;
    width: 31.25rem;
    margin-top: 11.2vh;
    margin-left: 15rem;
} 
}

@media only screen and (max-width: 768px) {

  .carddiv{
      height: 25rem;
      width: 31.25rem;
      margin-top: 10.8vh;
      margin-left: 14rem;
  } 
} 

@media only screen and (max-width: 610px) {
  .carddiv{
    margin-left: 12rem;
    margin-top: 10.9vh;
  }

}

@media only screen and (max-width: 540px) {
  .carddiv{
    margin-top: 11vh;
  }

}

@media only screen and (max-width: 425px) {

  .carddiv{
      height: 40.62rem;
      width: 37.5rem;
      margin-top:-100vh;
  }
} 

@media only screen and (max-width: 415px) {

  .carddiv{
      height: 25rem;
      width: 37.5rem;
      margin-top: 11vh;
  }
} 

@media only screen and (max-width: 380px) {

  .carddiv{
      height: 25rem;
      width: 31.25rem;
      margin-top: 9.2vh;
  }
} 












