.userheader{
   color: black; 
   font-size: 1.1vw;
   font-weight: bolder;
   float: left;
   padding-top: 2vh;
   margin-left: 7px;

}

thead{
    background-color: #f0f3f6;
    font-size: 0.7rem;
    color:rgb(151, 153, 155);
}

.hr{
    margin-left: 7px;
    max-width: 98%;
    background-color: #b5cefa;
    border-color: #b5cefa;
}

.information-icon{
    width: 0.8rem;
    height: 0.8rem;
    margin-top: -10px;
    float: right;
    margin-right: 16px;
}

.tbody>tr{
    text-align: center;
    font-size: 0.7rem;
  
}
.usertable{
    max-height: 20vh;
    width: 61vw;
    margin-left: 6px;
    font-family: Robo;
    font-size: 0.7rem;
}

.usertable {

    border-collapse: collapse;

    table-layout: fixed;
    cursor: pointer;



  }

  .usertable td {

    width: 50px;

    word-wrap: break-word; 

  }

.locationIcon{
    max-height: 1.4rem;
    max-width: 1.4rem;
}

.pagination li{
    margin-right: 10px;
    cursor: pointer;
}

.navbottom{
    padding-top:49vh;

    margin-left: 2rem;

}

.bottom-box{
    height: 1.8rem;
    max-width: 49.5rem;
    background-color: #f4f8ff;
    border-radius: 5px;
    margin-top: -15px;
}

.userlists-page-link{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    font-size: 0.6rem;
    padding-top: 2px;
    background-color: #5e98f4;
    color: white;
}

.userlists-page-link:active{
    color: black;
    background-color: white;
}

@media only screen and (max-width: 1050px) {


    .navbottom{
        padding-top: 39.7vh;
    
    }


}
@media only screen and (max-width: 1025px) {
    .usertable{
        width: 51vw;
    }
    
    .navbottom{
        padding-top: 38vh;
    
    }
}

@media only screen and (max-width: 940px) {
    .usertable{
        width: 56vw;
    }
}

@media only screen and (max-width: 820px) {
    .usertable{
        width: 64vw;
    
    }
    
}

@media only screen and (max-width: 770px) {
    .usertable{
        width: 60vw;
    
    }

    .navbottom{
        padding-top: 23vh;
    
    }
    
}

@media only screen and (max-width: 540px) {
.userheader{
    font-size: 0.7rem;
} 
    
}


    





/* @media screen and (max-width: 360px) {

    .userheader {
 
      font-size: 0.6rem;
 
 } 
 
 .hr{
 
     margin-left: 15px;
 
 }
 
  }
 
   @media screen and (max-width: 480px) {
 
    .userheader {
 
      font-size: 3.5vw;
 
 } 
 
 .hr{
 
     margin-left: 15px;
 
 }
 
   }
 
 
 
   @media screen and (max-width: 680px) {
 
    .userheader {
 
      font-size: 2.1vw;
 
 } 
 
 .hr{
 
     margin-left: -5px;
 
 }
 
  }  
 
 
 
  
 
   @media screen and (max-width: 768px) {
 
    .userheader {
 
      font-size: 2.1vw;
 
 } 
 
 .hr{
 
     margin-left: 25px;
 
 }
 
  }  
 
 
 
   @media screen and (max-width: 980px) {
 
    .userheader {
 
      font-size: 1.7vw;
 
 } 
 
 .hr{
 
     margin-left: -15px;
 
 }
  */
  