.logidiv{
  padding-top: 13vh;
  margin:0 0 0 30vw;

}
.auth {
  margin:0 0 0 20vw;
  margin-top: -10px;
  width: 578px;
  height: 483px;
  border-radius: 6px;
  margin-left: -1rem;
  background-color: #E3E9EF;
  border: 1px solid #C5CAD0;
  padding: 1rem;
  text-align: center;
}


.btn-logo {
  text-align: center;
  color: rgb(249, 249, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #508FF4;
  background-color: #508FF4;
  border-radius: 15px;
  width: 83px;
  height: 43px;
  margin: 20px 0 0 6px;
  margin-bottom: 28px;
  padding: 0px;
  font-weight: bolder;
  font-size: 1.3rem;
}



.form-group input {
  background-color: white;
  color: #38015c;
  border-radius: 10px;
  border: 1px solid white;
  width: 305px;
  height: 41px;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: -20px;
  text-align: left;
}



.btnlogin{
  border-radius: 10px;
  font-size: 0.8rem;
  color: white;
  width: 84px;
  height: 35px;
  margin-top: -10px;
  margin-left: 5px;
  margin-right: 3px;
  margin-bottom: 14px;
  background-color: #508ff4;
  border: 1px solid #508ff4;
  
}
.cancel{
  border-radius: 10px;
  font-size: 0.8rem;
  color: white;
  width: 84px;
  height: 35px;
  margin-bottom: 10px;
  background-color: #B3B8BD;
  border: 1px solid #B3B8BD;
}

.or{
 color: rgb(107, 107, 107);

}

.input-feedback{
  color: red;
  margin-top: 10px;
  font-size: 10px;
}

.error{
  color: red;
}






@media screen and (max-width: 1200px) {
  .btn-logo {
    font-size: 15px;
    width: 6rem;
  }

  .auth{
    width: 50vw;
    font-size: 13px;
  }

  .btnlogin { 
    font-size: 12px;
    width: 10vw;
  }

  .cancel {
    font-size: 12px;
    width: 10vw;
  }
}

@media screen and (max-width: 1025px){

  .form-group input {
    width: 305px;
    height: 41px;
    margin-left: 30px;
   
  }

  .auth{
    height: 440px;
  }
}

@media screen and (max-width: 770px) {
  .btn-logo {
    font-size: 12px;
    width: 6rem;
    height: 30px;
    border-radius: 10px;
  }

  .form-group input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 20px;
   }

  .auth{
    width: 60vw;
    height: 350px;
    font-size: 10px;
  }
   
 .btnlogin {
    font-size: 10px;
    height: 25px;
    border-radius: 8px;
  }

  .cancel {
    font-size: 10px;
    height: 25px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 730px){
  .form-group input{
    width: 260px;
    margin-left: 25px;
  }
  .auth{
    height: 320px;
  }
}


@media screen and (max-width: 616px) {
 

  .form-group input {
    width: 230px;
    margin-left: 20px;
  }

}

@media screen and (max-width: 550px) {
  .btn-logo {
    font-size: 10px;
    width: 12vw;
  }

  .form-group input {
    width: 230px;
    margin-left: 20px;
   }

  .auth{
    width: 70vw;
    font-size: 10px;
  }

  .btnlogin { 
    font-size: 8px;
    width: 12vw;
  }

  .cancel {
    font-size: 8px;
    width: 12vw;
  }

  .logidiv {
    padding-top: 13vh;
    margin: 0 0 0 15vw; 
  }
}

@media screen and (max-width: 430px) {
 
  .form-group input {
    width: 180px;
    height: 25px;
    font-size: 10px;
    margin-left: 5px;
   }
}


@media screen and (max-width:  380px) {
  .btn-logo {
    font-size: 10px;
    width: 12vw;
    height: 25px;
    margin-top: 15px;
  }

  .form-group input {
    width: 150px;
    height: 25px;
    font-size: 9px;
    margin-top: -10px;
    margin-left: 10px;
   }

  .auth{
    width: 230px;
    height: 280px;
    
  }

  .btnlogin { 
    font-size: 7px;
    width: 12vw;
    height: 18px;
    border-radius: 5px;
  }

  .cancel {
    font-size: 7px;
    width: 12vw;
    height: 18px;
    border-radius: 5px;
    
  }

  .logidiv {
    padding-top: 13vh;
    margin: 0 0 0 15vw; 
  }
}


