.search-icon{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: white;
    float: right;
    margin-left: 59rem ;
    margin-bottom: 24px;
  
}

.bell-icon{
    width: 1.6rem;
    height: 1.6rem;
    float: right;
    border-radius: 50%;
    margin-right:1rem;
    margin-bottom: 25px;
}

.user-icon{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: white;
    margin-left: 67rem;
    margin-top: -6rem;
}

@media only screen and (max-width: 1050px) {
  .search-icon{
    margin-left: 46rem;
    margin-bottom: 140px;
    margin-top: -4rem;
  }

  .bell-icon{
    margin-left: 48rem;
    margin-top: -12rem;
    margin-bottom: 110px;
  } 

  .user-icon{
    margin-left: 50rem;
    margin-top: -12rem;
    margin-bottom: 110px;
  }
}

@media only screen and (max-width: 1025px) {
  .btn-logo {
    margin-left: 20px;
    margin-top: 0.6rem;
    width: 4.2rem;
  }

  .search-icon{
    margin-left: 46rem;
    margin-bottom: 140px;
    margin-top: -4rem;
  }

  .bell-icon{
    margin-left: 48rem;
    margin-top: -12rem;
    margin-bottom: 110px;
  } 

  .user-icon{
    margin-left: 50rem;
    margin-top: -12rem;
    margin-bottom: 110px;
  }
}

@media only screen and (max-width: 940px) {
  .search-icon{
    margin-left: 41rem;
   
  }

  .bell-icon{
    margin-left: 43rem;
   
  } 

  .user-icon{
    margin-left: 45rem;
  
  }
}



   
@media only screen and (max-width: 770px) {
    .btn-logo {
      margin-left: -20px ;
      margin-top:-3rem;
      width: 4rem;
    }
    .search-icon{
      margin-left: 38rem;
      margin-top: -3rem;
      height: 1.2rem;
      width: 1.2rem;
    }
    .bell-icon{
      margin-left: 40rem;
      height: 1.2rem;
      width: 1.2rem;
    }
    .user-icon{
      margin-left: 42rem;
      height: 1.2rem;
      width: 1.2rem;
    }
}
  
     
@media only screen and (max-width: 520px) {
  .search-icon{
    margin-left: 36rem;
   
  }
  .bell-icon{
    margin-left: 38rem;
   
  }
  .user-icon{
    margin-left: 40rem;
  
  }
}