body{
    background-color: #eaf2ff;
    }
      
  .detailsbox{
      margin-left: 1vw;
      border-radius: 10px;
      background-color: white;
      border: 1px solid white;
      
  }
  
  .Heading {
    margin-left: -697px;
    margin-top: 20px;
    color: rgb(29, 25, 25);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    }
    
  
  .formdiv{
    margin-top: 3vh;
  }
  
  .image{
    border-radius: 50%;
    margin-right: 26rem;
    
  }
    
  .label {
    font-size: 13px;
    margin-left: -60rem;
    margin-top: 1.4rem;
    
  }
    
    
  .form-group1 input {
    font: inherit;
    background-color: #E3E9EF;
    border-radius: 10px;
    border: 1.5px solid #D8E1E9;
    width: 305px;
    height: 38px;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    float: left;
    clear: left;
    margin-left: 3.3rem;
  }
    
  .btn-primary{
    border-radius: 8px;
    margin-left: -570px;
    padding-top: 2px;
    height:32px;
    background-color: rgb(21, 149, 253);
    border: 1px solid rgb(21, 149, 253);
    }
  
  .btn-secondary{
    border-radius: 8px;
    padding-top : 2px;
    height:32px;
    background-color: rgb(164, 164, 165);
    border: 1px solid rgb(164, 164, 165);
    }
  
    .userdetailsHRow{
      margin-left: -6px;
      width: 48.4rem;
      margin-top: 9px;
      background-color: #b5cefa;
      border-color: 7px solid #b5cefa;
  }


@media screen and (max-width: 1025px) {
    .form-group1 input {
      width: 260px;
      height: 30px;
      font-size: 14px;
      margin-left: 5rem;
    }

    .label {
      font-size: 13px;
      margin-left: -46rem;
      margin-top: 0.8rem;
    }

    .image{
      width: 80px;
      height: 90px;
      border-radius: 50%;
      margin-right: 26rem;
    }

    .Heading {
      margin-left: -25rem;
      margin-top: 20px;
      font-size: 1rem;
    }

    .userdetailsHRow{
      margin-left: -6px;
      width: 33.5rem;
      
  }
      
}

@media screen and (max-width: 770px) {
  .form-group1 input {
    width: 230px;
    height: 28px;
    margin-left: 60px;
    border-radius: 8px;
  }

  .label {
    margin-left: -36rem;
    margin-top: 0.6rem;
  }

  .Heading {
    margin-left: -24rem;
    margin-top: 20px;
    font-size: 1rem;
  }

  .userdetailsHRow{
    margin-left: -6px;
    width: 29.5rem;
    
}
}





@media screen and (max-width: 430px) {
  
   .form-group1{
    margin-left: 5rem;
  }

  .form-group1 input {
    width: 200px;
    height: 25px;
    font-size: 15px;
    margin-left: 20px;
  }

  .label {
    margin-left: -40rem;
    margin-top: 0.6rem;
    font-size: 15px;
  }

  .image{
    width: 60px;
    height: 60px;
    margin-left: 1rem;
  }

  .Heading {
    margin-left: -350px;
    font-size: 1.3rem;
  }

  .userdetailsHRow{
    margin-left: -6px;
    width: 30rem;

} 
  
}
@media screen and (max-width: 380px) {

  .form-group1{
    margin-left: 5rem;
  }
  
  .form-group1 input {
    width: 190px;
    height: 22px;
    font-size: 16px;
    margin-top: -1px;
    margin-right: 10rem;
  }
  
  .image {
    margin-left: 0.5rem;
    height: 60px;
    width: 60px;
  }
  
  .label {
    font-size: 16px;
    margin-left: -50rem;
    margin-top: 0.1rem;
  
  }
  
  .Heading {
    margin-left: -350px;
    font-size: 1.3rem;
  }
  
  .userdetailsHRow{
    margin-left: -6px;
    width: 30rem;

} 
  } 