.btncatp {
  background-color: #68aaf8;
  color: white;
  font-size: 17px;
  border: 1px #68aaf8;
  border-radius: 0.4vw;
  margin-top: 37px;
  margin-right: 50px;
  float: left;
  margin-left: 14vw;
  width: 172px;
  height: 36px;

}

.productcard {
  width: 731px;
  height: 410px;
  border: 1px solid #68aaf8;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 20px;
 
}

.titlep {
  color: #68aaf8;
  font-size: 2vw;
  margin-left: 14vw;
  padding-top: 10vh;
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
 
}

.parap {
  font-size: 0.9vw;
  width: 434px;
  height: 112;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 14vw;
  margin-right: 47px;
  margin-bottom: 53px;
  margin-top: 35px;
  line-height: 25px;
}

.pricep {
  color: #68aaf8;
  margin-left: 14vw;
  font-size: 1.8rem;
  margin-top: 31px;
  margin-bottom: 164px;
  margin-right: 332px;
}
.roundedp {
  width: 11vw;
  height: 200px;
  margin-left: 45px;
  margin-top: 60px;
  margin-right: 46px;
  margin-bottom: 85px;
}

.tools {
  margin-top: 10px;


}

.zoomIn {
  border-radius: 2px;
}

.hrproductcard{
  margin-left: -6px;
  max-width: 99%;
  margin-top: 48px;
  background-color: #b5cefa;
  border-color: #b5cefa;


}

.small{
  color: gray;
  font-size: 0.8vw;
}

@media only screen and (max-width: 1025px) {
  .productcard{
    width: 31rem;
    height: 54vh;
    margin-left: 0.5rem;
  }

  .btncatp{
    margin-left: 20vw;
  }

  .parap{
    font-size: 10px;
    width: 24vw; 
    line-height: 20px;
    margin-left: 20vw;
    
  }

  .roundedp{
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
    margin-top: 70px;
  
  }

  .titlep{
    margin-left: 20vw;
    width: 28vw;
  }

  .pricep{
    margin-right: 6rem;
    display: inline;
    margin-top: 10px;
  }
  
  .small{
    margin-top: -10px;
  }
}

@media only screen and (max-width: 810px) {
  .productcard{
    width: 27rem;
    height: 43vh;
  }
  .pricep{
    margin-left: -2rem;
    font-size: 1.1rem;
  }
  .titlep{
    margin-left: 12vw;
    width: 30vw;
  }
  .btncatp{
    margin-left: 12vw;
  }

  .parap{
    
    width: 32vw; 
  
    margin-left: 12vw;
    
  }
  .roundedp{
    width: 5rem;
    height: 5rem;
    margin-top: 7rem;

  }
}
@media only screen and (max-width: 770px) {
  .productcard{
    width: 27rem;
    height: 41vh;
  }

  .roundedp{
    width: 5rem;
    height: 5rem;
    margin-left: 3rem;
    margin-top: 6rem;
  
  }

  .btncatp {

    border-radius: 8px;
    margin-left: 12vw;
    width: 150px;
    height: 30px;
  
  }

  .parap{
    font-size: 0.5rem;
    width: 30vw;
    line-height: 15px;
  }

  .titlep{
    width: 30vw;
  }

  .pricep{
    
    font-size: 1rem;
    margin-right: 4.9rem;
    margin-top: 15px;
  }

}

@media only screen and (max-width: 615px) {
  .productcard{
    width: 27rem;
    height: 42vh;
  }

  .parap{
    font-size: 0.6rem;
    width: 35vw;
    line-height: 15px;
  }

  .btncatp{
    font-size: 0.8rem;
  }
  .titlep{
    width: 35vw;
    font-size: 0.7rem;
  }

  .pricep{
    margin-right: 5rem;
  
  }


}

@media only screen and (max-width: 540px) {
  .titlep{
    width: 35vw;
    font-size: 0.7rem;
  }
  
  .parap{
    font-size: 0.6rem;
    width: 35vw;
    line-height: 15px;
  }
}

/* 425 px */
@media only screen and (max-width: 430px) {
  .productcard{
    width: 26.5rem;
    height: 40vh;
  }

  .btncatp {

    border-radius: 8px;
    margin-left: 20vw;
    width: 150px;
    height: 30px;
  
  }
   
  .titlep{
    font-size: 0.8rem;
    margin-left: 20vw;
    width: 57vw;

  }

  .parap{
    font-size: 0.6rem;
    width: 57vw;
    margin-left: 20vw;
  }

  .roundedp{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }

  .pricep{
    font-size: 1rem;
    margin-top: 15px;
    margin-right: 6.4rem;
  }
  
}


/* 375px */
@media only screen and (max-width: 380px) {
  .productcard{
    width: 26rem;
    height: 40vh;
  }

  .btncatp {
    border-radius: 8px;
    margin-left: 30vw;
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
  }
   
  .titlep{
    font-size: 0.7rem;
    margin-left: 30vw;
    width: 55vw;
  }

  .parap{
    font-size: 0.5rem;
    width: 55vw; 
    margin-left: 30vw;
  }

  .roundedp{
    width: 60px;
    height: 60px;
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .pricep{
    margin-right: 3rem;
    font-size: 0.9rem;
    margin-top: 3vh;

  }

  .small{
    font-size: 0.6rem;
  }
  
}

@media only screen and (max-width: 325px) {
  .productcard{
    width: 26rem;
    height: 40vh;
  }
   
  .titlep{
    font-size: 0.7rem;
    margin-left: 30vw;
    width: 66vw;
  }

  .parap{
    font-size: 0.6rem;
    width: 66vw;
    margin-left: 30vw;
  }

  .roundedp{
    width: 70px;
    height: 60px;
    margin-top: 6rem;
  }

  .pricep{
    margin-right: 4.4rem;
    font-size: 0.9rem;
    margin-top: 3vh;
  }

  .small{
    font-size: 0.6rem;
  }
}

