.listprodheader{
  color: black; 
   font-size: 1.1vw;
   font-weight: bolder;
   margin-left:-700px;
   margin-top: 1.5vh;

}
.textLeft {
  text-align: left;
}
.btncat{
  background-color:#68aaf8;
  color: white;
  font-size: 0.7vw;
  border: 1px #68aaf8;
  border-radius:0.4vw ;
  margin-right: 20px;
  float: left;
  height: 3.2vh;
  /* margin-top: 15px; */
  /* margin-bottom:20px */
}

.card { 
  width: 344px;
  height: 193px;
  margin-top: -6vh;
  
  border: 1px solid #68aaf8;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 10vh;
  

}

.image {
  min-width:0 ;
  margin-right:24px;
  margin-bottom: 35px;
  
}
.rounded{
  width: 5vw;
}
.title{
  color: #68aaf8;
  font-size: 1vw;
  font-family: monospace;
  margin-top: 20px;
}
.para{
  font-size: 0.8vw;
   white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 34px;
}
.btn-primary{
float: left;
}
.price{
  margin-top: 30px;
  color:  #68aaf8;

  margin-top: 10px;
  margin-right: 26px;
}
.small{
  color: gray;
  font-size: 0.8vw;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.navbottom_productlist{
  margin-top: 67vh;
}

.productlists-page-link{
  width: 1rem;
  height: 1.2rem;
  border-radius: 5px;
  font-size: 0.6rem;
  padding-top: 2px;
  background-color:#68aaf8;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  
}

.productlists-page-link:active{
  color: black;
  background-color: white;
}



@media only screen and (max-width: 1025px) {
  .card {
    width: 15.7rem;
    height: 10rem;
    margin-top: -2rem;
  }
  .btncat {
    font-size: 0.9vw;
    border-radius: 0.4vw;
    margin-left: 19px;
    height: 3.2vh;
  }
  .title {
    font-size: 1vw;
    margin-top: 20px;
    margin-left: 1.4rem;
  }
  .para {
    margin-left: 1.4rem;
    width: 10rem;
  }
  .price {
    margin-left: 1.4rem;
    margin-top: 1rem;
  }
  .listprodheader {
    margin-left: -27rem;
    font-size: 1.3vw;
  }
  .navbottom_productlist {
    margin-top: 53vh;
  }
  .rounded {
    /* margin-right: 15px; */
    margin-left: -5px;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    width: 13rem;
    height: 9rem;
    margin-top: -2.5rem;
  }
  .navbottom_productlist {
    margin-top: 43vh;
  }
  .btncat {
    font-size: 0.5rem;
    width: 5rem;
    margin-left: 10px;
    border-radius: 7px;
  }
  .listprodheader {
    font-size: 1.5vw;
    margin-left: -24rem;
  }
  .title {
    font-size: 0.4rem;
    width: 7rem;
    margin-left: 10px;
  }
  .para {
    margin-left: 10px;
    width: 7rem;
    font-size: 0.4rem;
  }
  .rounded {
    height: 50px;
  }
  .price{
    margin-left: 10px;
  }
  .productlists-page-link{
    width: 0.9rem;
    height: 1rem;
 
  }
}

@media only screen and (max-width: 767px) {
  .card {
    width: 13rem;
    height: 9rem;
  
  }
  .navbottom_productlist {
    margin-top: 58vh;
  }
  .btncat {
    font-size: 1vw;
    width: 5rem;
    border-radius: 10px;
  }
  .listprodheader {
    font-size: 1.5vw;
    margin-left: -24rem;
  }
  .title {
    font-size: 0.4rem;
    width: 7rem;
  }
  .para {
    margin-left: 10px;
    width: 7rem;
    font-size: 0.4rem;
  }
  .rounded {
    height: 60px;
  }
  .productlists-page-link{
    width: 1rem;
    height: 1rem;
 
  }
}

@media only screen and (max-width: 680px) {
  .card {
    width: 13rem;
    height: 8rem;
    margin-top: -2rem;
  }
  .listprodheader {
    font-size: 0.7rem;
    margin-left: -24rem;
  }
  .btncat {
    margin-left: -0.2rem;
  }
  .para {
    margin-left: -0.2rem;
    width: 8rem;
    font-size: 0.5rem;
  }
  .title {
    font-size: 1.1vw;
    margin-left: -0.2rem;
  }
  .navbottom_productlist {
    margin-top: 42vh;
  }
  .price {
    margin-left: -0.2rem;
  }
  .rounded {
    height: 50px;
  }
}

@media only screen and (max-width: 575px) {
  .card {
    width: 10rem;
    height: 8rem;
    margin-top: -2rem;
    margin-left: 40px;
  }
  .listprodheader {
    font-size: 0.7rem;
    margin-left: -30rem;
  }
  .btncat {
    margin-left: -1.8rem;
  }
  .para {
    margin-left: -1.8rem;
    width: 8rem;
    font-size: 1.2vw;
  }
  .title {
    font-size: 1.1vw;
    margin-left: -1.8rem;
  }
  .navbottom_productlist {
    margin-top: 64vh;
  }
  .price {
    margin-left: -1.8rem;
  }
  .rounded {
    height: 50px;
  }
}



@media only screen and (max-width: 480px) {
  .card {
    width: 11rem;
    height: 8rem;
    margin-left: 35px;
    margin-top: -6vh;
  }
  .listprodheader {
    font-size: 0.7rem;
    margin-left: -23rem;
  }
  .btncat {
    width: 4rem;
    height: 1rem;
    border-radius: 8px;
    margin-left: -12px;
    margin-top: -8px;
    margin-bottom: -8rem;
  }
  .title {
    font-size: 1.7vw;
    margin-top: -8px;
    margin-left: -12px;
    width: 6rem;
  }
  .para {
    margin-left: -12px;
    width:6rem;
  }
  .price {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    margin-left: -12px;
  }
  .rounded{
    margin-left: -1rem;
    width: 25px;
    height: 30px;
  }
  .navbottom_productlist {
    margin-top: 41vh;
  }
}

@media only screen and (max-width: 380px) {
  .card {
    width: 11rem;
    height: 9rem;
    margin-top: -7vh;
  }
  .listprodheader {
    font-size: 0.7rem;
    margin-left: -23rem;
  }
  .btncat {
    margin-left: -4px;
    font-size: 0.3rem;
  }
  .title {
    margin-left: -4px;
    width: 6rem;
  }
  .para {
    margin-left: -4px;
    width: 6rem;
  }
  .price {
    margin-left: -4px;
  }
  .rounded{
    margin-left:-10px;
    width: 30px;
    height: 40px;
  }
  .navbottom_productlist {
    margin-top: 41vh;
  }
  .productlists-page-link{
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.5rem;
    padding-top: 2px;
    margin-top: 20px
  }

}

@media only screen and (max-width: 325px) {
  .card {
    width: 11rem;
    height: 8rem;
    margin-top: -5vh;
  }
  .listprodheader {
    font-size: 0.6rem;
    margin-left: -25rem;
    margin-top: 1.5vh;
  }
  .para {
    font-size: 0.4rem;
  }
  .productlists-page-link{
    width: 1rem;
    height: 1rem;
    font-size: 0.4rem;
    padding-top: 2px;
    margin-top: 20px
  }
 

 

 
  
}
