.App {
  text-align: center;
  width: 100vw;
  height : 100vh;
  margin: 0%;
  padding: 0%;
  background-color: #eaf2ff;
}

.Sidebar {
  height: 32.5rem;
  width : 16.4rem;
  border-radius: 15px;
  margin-top: -3.3vh;
  margin-left: -1rem;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #d4dbe9;
  position: fixed;
  
  
}

.header{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  gap: 6px;
  padding: 5px !important;
}

.header,
.rounded-image{
  margin-left: 32px;
  padding-top: 15px;
}

.row{
  height: 2px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: auto;
}

.sidebarname{

  font-size: 13px;

  margin-top:5px;

  font-weight: bold;

}

.sidebar-content{
  margin-top: -50px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.data:hover {
  border-radius: 25px;
  background-color: #eaf2ff;
  text-decoration: none;
}

.data-list{
  text-align: left;
  margin-left: 17px !important;
  font-size: 0.8rem;
  color:rgb(95, 94, 94) !important;
}

.data-list-list{
  margin-left: 55px !important;
  text-align: left;
  color:rgb(95, 94, 94) !important;
  font-size: 0.7rem;
}

.data-list-list:hover{
  color: rgb(65, 123, 211);
  border-radius: 25px;
  background-color:  #eaf2ff;
}


.data-list:hover,
.data-list:active,
.data-list a.active{
  border-radius: 25px;
  background-color:  #eaf2ff;
  text-decoration: none;
}


.data-list:hover{
  background-color: #eaf2ff;
  text-decoration: none;
  color: rgb(65, 123, 211);
  
}

.data-list:hover,
.data-list:active {
  background-color: #eaf2ff;
  text-decoration: none;
  color: rgb(65, 123, 211);
}

.dot {
  height: 18px;
  width: 18px;
  background-color: rgb(83, 81, 81);
  border-radius: 50%;
  display: inline-block;
  margin-left: 60px;
  margin-top: 5px;
  font-size: 0.8rem;
  color: white;
  padding-left: 0.35rem;
}


.bullet{
  height: 8px;
  width: 8px;
  border: 1.5px solid  #508FF4;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  
}

.bullet:hover{
  background-color: #508FF4;
}

@media screen and (max-width: 1025px) {
  .Sidebar {
    height: 31.2rem;
    max-width : 13.9rem;
    border-radius: 15px;
    margin-top: -16vh;
    margin-left: 1rem;
    position: fixed;
  }
  .data-list{
    font-size: 12px !important;
    margin-bottom: 6.5px !important;
  }
  .data-list-list{
    font-size: 12px !important;
    margin-bottom: 6.5px !important;
  }
  /* .rounded-image{
    margin-left: -1rem !important;
  } */

}

@media screen and (max-width: 940px) {
  .Sidebar {
   width : 13.75rem;
   height: 31.25rem;
   margin-left: -70px;
   margin-top: -120px;
  }
  /* .rounded-image{
    margin-left: 10rem !important;
  } */
}

@media screen and (max-width: 810px) {
  .Sidebar {
   width : 12.5rem;
   height: 25rem;
   margin-left: -16px;
   margin-top: -120px;
  }
  .data-list{
    font-size: 10px !important;
    margin-left: 3px !important ;
    margin-bottom: -20px !important;
  }
  .data-list-list{
    font-size: 9.5px !important ;
    margin-left: 42px !important;
  }
  .dot{
    height: 16px;
    width: 16px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 770px) {
  .Sidebar {
   width : 12.5rem;
   height: 25rem;
  }
  .data-list{
    font-size: 10px !important;
    margin-left: 3px !important ;
    margin-bottom: -15px !important;
  }
  .data-list-list{
    font-size: 9.5px !important ;
    margin-left: 42px !important;
    margin-bottom: -10px !important;
  }
  .dot{
    height: 16px;
    width: 16px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 40px;
  }

}

@media screen and (max-width: 610px){
  .Sidebar{
    width: 11.25rem;
    height: 25rem;
  } 
  .data-list{
    font-size: 10px !important;
    margin-left:-8px !important ;
    margin-bottom: -16px !important;
  }
  .data-list-list{
    font-size: 9.5px !important ;
    margin-left: 32px !important;
  }
  .dot{
    height: 16px;
    width: 16px;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 40px;
  }

} 
@media screen and (max-width: 540px){
  .Sidebar{
    width: 11.25rem;
    height: 25rem;
  }
  .data-list{
    font-size: 11px !important;
  }
  .data-list-list{
    font-size: 10px !important ;
  }
  .dot{
    padding-bottom: 5px;
    
  }
}

  
@media screen and (max-width: 430px) {
  .Sidebar {
   width : 10.62rem;
   height: 25rem;
  }
  .data-list{
    font-size: 10px !important;
    margin-left: -8px !important;
    margin-bottom: -18px !important;
  }
  .data-list-list{
    font-size: 9px !important ;
    margin-left: 32px !important;
  }
  .dot{
    height: 15px;
    width: 15px;
    font-size: 10px;
    padding-left: 4.7px;
    margin-left: 40px;
  }
}  
 
@media screen and (max-width: 380px) {
  .Sidebar {
   width : 10rem;
   height: 25rem;
   margin-top: -130px;
  }
  .data-list{
    font-size: 10px !important;
    margin-bottom: -18px !important;
    margin-left: -8px !important;
  }
  .data-list-list{
    font-size: 9px !important;
    margin-left: 30px !important;
  }
  .dot{
    height: 13px;
    width: 13px;
    font-size: 8px;
    padding-left: 4.5px;
    margin-left: 30px;
  }

} 