.header {

  left: 0;

  width: 80%;

  margin-left: 7vw;

  border-radius: 14px;

  height: 2.6rem;

  background-color: rgb(19, 176, 248);

  color: white;

  display: flex;

  margin-top: 24px;

  justify-content: space-between;

  align-items: center;

  padding: 0 10%;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  z-index: 10;

  position: sticky;

  

}

@media screen and (max-width: 1024px) {
  .header{
    width: 42%;
    margin-left: 22rem;

  }
}

@media screen and (max-width: 820px) {
  .header{
    width: 38%;
    margin-left: 21rem;
  
  }
}

@media screen and (max-width: 770px) {
  .header{
    width: 38%;
    margin-left: 18rem;
    height: 2rem;
    
  }
}
  
@media screen and (max-width: 640px) {
  .header{
    width: 36%;
    margin-left: 20rem;
    height: 2rem;
      
  }
}

@media screen and (max-width: 520px) {
  .header{
    width: 36%;
    margin-left: 15.5rem;
    height: 2rem;
        
  }
}
  
